/* Label */
.label {
    -fx-text-fill: rgb(255, 255, 255, 1.0);
}



/* RadioButton */
.radio-button {
    -fx-text-fill:rgb(255, 255, 255, 1.0);
    -fx-font-size: 16;
    -fx-padding: 4;
    -fx-border-color: rgb(0, 0, 0, 0.0);
    -fx-background-color: rgb(0, 0, 0, 0.0);
} 



/* TextField */
.text-field{
    -fx-font-size: 16;
    -fx-padding: 4;
    -fx-border-color: rgb(148, 148, 148, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }
.text-field:hover{
    -fx-font-size: 16;
    -fx-padding: 4;
    -fx-border-color: rgb(255, 255, 255, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }
 .text-field:focused{
    -fx-font-size: 16;
    -fx-padding: 4;
    -fx-border-color: rgb(210, 136, 24, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }




/* Button */
 .button {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-padding: 4 12 4 12;
    -fx-background-radius: 0;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-border-radius: 0;
    -fx-border-color: rgb(210, 136, 24, 1.0);
    -fx-border-width: 2;
    -fx-text-fill: rgb(210, 136, 24, 1.0);
}
.button:hover {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-padding: 4 12 4 12;
    -fx-background-radius: 0;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-border-radius: 0;
    -fx-border-color: rgb(255, 188, 86, 1.0);
    -fx-border-width: 2;
    -fx-text-fill: rgb(255, 188, 86, 1.0);
}

/* Scroll Pane */
.scroll-pane {
    -fx-background-color: rgb(54, 57, 63, 1.0);
}
.scroll-pane > .corner {    
    -fx-background-color: rgb(54, 57, 63, 1.0);
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
    -fx-opacity: 0;
 
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: rgb(45, 47, 51, 1.0);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(32, 34, 37, 1.0);
    -fx-background-radius: 5em;
}

.border-pane {
    -fx-background-color: rgb(54, 57, 63, 1.0);
}

/* Table View */
.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(rgb(210, 136, 24, 1.0) 0%, rgb(255, 195, 104) 100%);
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18;
}
.table-view .column-header {
    -fx-cell-size: 35;
    -fx-background-color: transparent;
    -fx-border-color: rgb(123, 130, 141);
    -fx-padding: 4 16 4 16;
}
.table-view .table-cell{
    -fx-text-fill: white;
    -fx-border-color: rgb(123, 130, 141);
    -fx-border-width: 1;
}
.table-row-cell{
    -fx-background-color: rgb(54, 58, 65);
    -fx-font-size: 18;
    -fx-padding: 4 12 4 12;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: rgb(49, 51, 56);
    -fx-font-size: 18;
    -fx-padding: 4 12 4 12;
    -fx-padding: 0.0em; 
}
.table-row-cell:selected {
    -fx-background-color: rgb(77, 83, 90);
    -fx-font-size: 18;
    -fx-padding: 4 12 4 12;
    -fx-padding: 0.0em;    
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/* menu-bar */
.menu-bar {
    -fx-padding:  0 4 0 4;
    -fx-spacing: 2;
    -fx-background-color: linear-gradient(rgb(210, 136, 24) 0%, rgb(255, 195, 104) 100%);
    -fx-background-insets: 0,1;    
    -fx-border-color: rgb(255, 206, 142);
    -fx-border-width: 1;
    -fx-font-size: 16px;
}
.menu-bar .menu-button .label {
    -fx-padding: 1 4 1 4;
}

.menu-bar .menu-button:hover {
    -fx-background-color: linear-gradient(rgb(168, 109, 20) 0%, rgb(207, 158, 84) 100%);
    -fx-background-insets: 1,2;
}

/* menu-item */
.menu-item {
    -fx-background-color: rgb(54, 58, 65);
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.menu-item:focused {
    -fx-background-color: rgb(95, 102, 114);
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.menu-item:focused .label {
    -fx-text-fill: white;
}